extends _layout

block pageInit
  -
    entryPoint = '';
    basePath = '.';
    pages = $pages;

block main
  p.lead.mb-4.
    JSON Web Token (JWT) is a set of standards.

  p.
    Lorem ipsum dolor amet Lorem ipsum dolor amet Lorem ipsum dolor amet Lorem ipsum dolor amet.

  p.
    Lorem ipsum dolor amet Lorem ipsum dolor amet Lorem ipsum dolor amet Lorem ipsum dolor amet.
    Lorem ipsum dolor amet Lorem ipsum dolor amet Lorem ipsum dolor amet Lorem ipsum dolor amet.

  form.mb-3
    div.form-check.form-switch
      input.form-check-input#toggle-descriptions(type='checkbox', role='switch', checked)
      label.form-check-label(for='toggle-descriptions') Show extended descriptions for token and key properties

  div#app-root
    +loading
